// Colors
$dark-color: #000000;
$default-color: #ffffff;
$light-color: #666666;
$lighter-color: #b3b3b3;
$primary-color: #1698d9;
$danger-color: #d91667;
$warning-color: #ffff66;
$bg-light: #f2f2f2;

// Font
$mainFont: "Trebuchet MS", Helvetica, Arial, sans-serif;
$secondFont: "Exo2", Arial, sans-serif;

// Size
$mainFontColor: $dark-color;
$mainFontSize: 16px;
$mainFontWeight: 400;
$mainLineHeight: 1;

// Opacity
$low-opacity: 0.5;

// Transition
$def-transition: all 0.3s cubic-bezier(0.25, 0.1, 0.25, 1);
$long-transition: all 0.8s cubic-bezier(0.25, 0.1, 0.25, 1);
