@import "./reset";
@import "./fonts";
@import "./variables";
@import "./mixins";

html {
  height: 100%;

  font-weight: $mainFontWeight;
  font-size: $mainFontSize;
  line-height: $mainLineHeight;
  color: $mainFontColor;

  // @include media-breakpoint-down(xl) {
  //   font-size: 15px;
  // }

  // @include media-breakpoint-down(lg) {
  //   // 992px
  //   font-size: 14px;
  // }

  // @include media-breakpoint-down(md) {
  //   // 768px
  //   font-size: 13px;
  // }

  // @include media-breakpoint-down(sm) {
  //   // 576px
  //   font-size: 12px;
  // }
}

body {
  position: relative;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  margin: 0;
  padding: 0;

  font-family: $mainFont;
  color: $mainFontColor;

  background-image: linear-gradient(to top, rgba($dark-color, 0.5) 0%, rgba($dark-color, 0) 50%, rgba($dark-color, 0.5) 100%), url("../assets/images/bg-pattern.jpg");

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
