@import "../../styles/variables";
@import "../../styles/mixins";

.card-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 320px;
  margin: rem(23) rem(40);
}

.card-caption {
  padding-top: rem(15);

  font-size: rem(13);
  text-align: center;
  color: $default-color;
  text-shadow: 0 1px 0 $dark-color;

  &--warning {
    color: $warning-color;
  }

  span {
    color: $primary-color;

    cursor: pointer;

    transition: $def-transition;

    &:hover {
      text-decoration: underline;
    }
  }
}

.card {
  position: relative;

  width: 320px;
  height: 480px;
  padding: rem(24) rem(49);

  background-color: $bg-light;
  cursor: pointer;

  transition: $def-transition;

  clip-path: url("#clip-path");

  &:not(.card--disabled):not(.card--selected):hover {
    .card__border {
      stroke: $primary-hover-color;
    }

    .card__label {
      background-color: $primary-hover-color;
    }
  }

  &--selected {
    &:hover {
      .card__header-default {
        display: none;
      }

      .card__header-hover-selected {
        display: block;
      }

      .card__border {
        stroke: $danger-hover-color;
      }

      .card__label {
        background-color: $danger-hover-color;
      }
    }

    .card__border {
      stroke: $danger-color;
    }

    .card__label {
      background-color: $danger-color;
    }
  }

  &--disabled {
    cursor: default;

    .card__header,
    .card__option,
    .card__title,
    .card__subtitle,
    .card__img {
      opacity: $low-opacity;
    }

    .card__border {
      stroke: $lighter-color;
    }

    .card__label {
      background-color: $lighter-color;
    }
  }
}

.card__header-default {
  color: $light-color;
}

.card__header-hover-selected {
  display: none;

  color: $danger-hover-color;
}

.card__title {
  padding-top: rem(15);
  padding-bottom: rem(4);

  font-weight: 700;
  font-size: rem(48);
  color: $dark-color;
}

.card__subtitle {
  padding-bottom: rem(16);

  font-weight: 700;
  font-size: rem(24);
  color: $dark-color;
}

.card__option {
  font-size: rem(14);
  color: $light-color;

  span {
    font-weight: 700;
  }
}

.card__label {
  position: absolute;
  right: rem(15);
  bottom: rem(15);
  z-index: 2;

  display: flex;
  flex-direction: column;
  align-items: center;
  width: 81px;
  height: 81px;
  padding-top: rem(15);

  font-size: rem(21);
  color: $default-color;

  background-color: $primary-color;
  border-radius: 50%;

  transition: $def-transition;

  span {
    font-size: rem(42);
  }
}

.card__img {
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 1;
}

.card__border {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;

  width: 100%;

  transition: $def-transition;

  stroke: $primary-color;
}

@media screen and (max-width: $screen-desktop) {
  .card-wrapper {
    margin-right: rem(30);
    margin-left: rem(30);
  }
}

@media screen and (max-width: $screen-tablet) {
  .card-wrapper {
    margin-right: rem(25);
    margin-left: rem(25);
  }
}

@media screen and (max-width: $screen-sm-tablet) {
  .card-wrapper {
    margin-right: rem(20);
    margin-left: rem(20);
  }
}

@media screen and (max-width: $screen-phone) {
  .card-wrapper {
    margin-right: rem(15);
    margin-left: rem(15);
  }

  .card {
    width: 80vw;
    height: 120vw;
    padding-right: 35px;
    padding-left: 35px;
  }

  .card__container {
  }

  .card-caption {
    font-size: 14px;
  }
}
